<div class='centered-content'> 
    <div class="app-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">Controls</h1>
            <div class="word-type-list">
                <!-- List of word types -->
                <a class="word-type-item" *ngFor="let type of types" (click)=setSelectedType(type)>
                    {{type}}
                </a>                            
            </div>
            <button class="button is-primary" (click)="saveSentence()"> Save Sentence</button>
        </div>

        <div class="main-display-container">
            <h1 class="title has-text-primary">Sentence Display</h1>
            
            <!-- Display current sentence -->
            <div class="control">
                <textarea #sentenceInput class="textarea .curved" disabled placeholder="Add a new word to begin your sentence">{{sentenceText}}</textarea>
            </div>

            <div class="word-select-container">
                <!-- Available words from selected type -->
                <div class="field">
                    <div class="control">
                        <div class="select is-primary">
                        <select #wordSelect>
                            <option *ngFor="let word of availableWords">{{word.title}}</option>
                        </select>
                        </div>
                        <button class="button is-primary add-word" (click)="addWord(wordSelect.value)">Add {{selectedType}}</button>
                    </div>
                </div>
            </div>
            
            <div class="history-display-container" >
                <!-- Display previous sentences -->
                <div class="history-item" *ngFor="let item of history">
                    <p>{{item.text}}</p>
                </div>
            </div>

        </div>
    </div>
</div>